@import 'styles/global/breakpoints.scss';
@import 'styles/global/variables.scss';

.preview_area_container {
  display: flex;
  min-width: 0;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;

  .preview {
    display: flex;
    max-width: 90%;
    min-height: 50vh;
    max-height: 50vh;
    flex: 1;
    flex-direction: column;
    word-break: break-word;

    @include breakpoint(medium) {
      min-height: calc(100vh - 150px);
      max-height: calc(100vh - 150px);
      font-size: $font_size_medium;
    }

    @include breakpoint(large) {
      min-height: calc(100vh - 150px);
      max-height: calc(100vh - 150px);
      font-size: $font_size_large;
    }

    @include breakpoint(wide) {
      min-height: calc(100vh - 150px);
      max-height: calc(100vh - 150px);
      font-size: $font_size_wide;
    }

    code {
      white-space: pre-wrap !important;
    }
  }
}
