@import 'styles/global/breakpoints.scss';
@import 'styles/global/variables.scss';

.markdown_editor_container {
    display: flex;
    flex: 1;
    flex-direction: column;

    .markdown_editor_button_area {
        display: flex;
        margin: 0 0 $margin_main;
    }

    .markdown_editor_field_container {
        display: flex;
        flex: 1;
        flex-direction: column;

        @include breakpoint(medium) {
            flex-direction: row; 
        }

        @include breakpoint(large) {
            flex-direction: row;    
        }

        @include breakpoint(wide) {
            flex-direction: row;    
        }

        .markdown_editor_text_area {
            display: flex;
            flex: 1;
            margin: 0 0 $margin_main;
            border-radius: $border_radius_main;
        }

        .markdown_editor_preview_area {
            display: flex;
            flex: 1;
            margin: 0 0 $margin_main;
            overflow-y: scroll;
            background-color: $color_background_main;
            border-radius: $border_radius_button;
            box-shadow: $box_shadow_main;

            @include breakpoint(medium) {
                margin: 0 0 0 $margin_main;
            }

            @include breakpoint(large) {
                margin: 0 0 0 $margin_main;
            }
        
            @include breakpoint(wide) {
                margin: 0 0 0 $margin_main;
            }
        }
    }
}
