@import 'styles/global/breakpoints.scss';
@import 'styles/global/variables.scss';

.button_container {
  display: flex;
  flex: 1;
  justify-content: center;

  @include breakpoint(medium) {
    align-items: center;
  }

  @include breakpoint(large) {
    align-items: center;
  }

  @include breakpoint(wide) {
    align-items: center;
  }

  .button {
    min-height: 100px;
    max-height: 100px;
    flex: 1;
    margin: 0;
    font-size: $font_size_small;
    background-color: $color_background_main;
    border: 0;
    border-radius: $border_radius_button;
    outline: none;
    box-shadow: $box_shadow_main;

    &:last-of-type {
      margin: 0 0 0 5%;
    }

    &:hover {
      box-shadow: $box_shadow_main_inverted;
      transform: scale(1.1);
    }

    @include breakpoint(medium) {
      min-height: 50px;
      max-height: 50px;
      font-size: $font_size_medium;
    }
  
    @include breakpoint(large) {
      min-height: 50px;
      max-height: 50px;
      font-size: $font_size_large;

      &:last-of-type {
        margin: 0 0 0 25%;
      }
    }
  
    @include breakpoint(wide) {
      min-height: 50px;
      max-height: 50px;
      font-size: $font_size_wide;

      &:last-of-type {
        margin: 0 0 0 25%;
      }
    }
  }
}
